



/* background and overall styling */

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.wrapper {
    background-image: url(background.png);
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}


/* positioning of header */

header {
    max-height: 10vh;
    padding: 20px 20px 20px 220px;
    display:flex;
    justify-content: space-between;
}

.top-nav {
    width: 70%;
}

.top-nav ul {
    width: 100%;
    display: flex;
    align-items: center;
}

.top-nav ul li {
    padding-right: 100px;
}


/* main text and image */

main {
    max-height: 90vh;
    width: 100%;
    position: relative;
    display: flex;
}

main .main-text {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -100px;
    left: 150px;
}

main .main-img {
    width: 45%;
}

main .main-img img {
    max-height: 100%;
    width: auto;
}


/* sidebar positioning */

.sidebar {
    width: 10%;
    height: 100%;
    margin: 0;
    position: fixed;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
}

.sidebar ul {
    margin: 0;
    height: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* article positioning */

article{
    margin-left: 100px;
    margin-right: 100px;
}

.image-container-1  {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 30vh;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.article-image-1a   {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 45%;
    border: 1px solid black;
}

.article-image-1b   {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 45%;
    border: 1px solid black;
}

.image-container-2  {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 30vh;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.article-image-2   {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 94%;
    border: 1px solid black;
}

/* specific styling */

li {  
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
    color: darkslategrey;
}

.text-container {
    font-size: 1.5em;
}

.text-container img {
    margin: 30px;
}

.arrows {
    margin-left: 60px;
}

article {
    background: white;
}